@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/orange-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/orange.css */

:root {
  --orange-contrast: white;
}

:root,
.light,
.light-theme {
  --orange-surface: #fff5e9cc;
  --orange-indicator: var(--orange-9);
  --orange-track: var(--orange-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --orange-surface: color(display-p3 0.9961 0.9608 0.9176 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --orange-surface: #271d1380;
  --orange-indicator: var(--orange-9);
  --orange-track: var(--orange-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --orange-surface: color(display-p3 0.1412 0.1098 0.0706 / 0.5);
    }
  }
}

[data-primary="orange"] {
  --primary-1: var(--orange-1);
  --primary-2: var(--orange-2);
  --primary-3: var(--orange-3);
  --primary-4: var(--orange-4);
  --primary-5: var(--orange-5);
  --primary-6: var(--orange-6);
  --primary-7: var(--orange-7);
  --primary-8: var(--orange-8);
  --primary-9: var(--orange-9);
  --primary-10: var(--orange-10);
  --primary-11: var(--orange-11);
  --primary-12: var(--orange-12);

  --primary-a1: var(--orange-a1);
  --primary-a2: var(--orange-a2);
  --primary-a3: var(--orange-a3);
  --primary-a4: var(--orange-a4);
  --primary-a5: var(--orange-a5);
  --primary-a6: var(--orange-a6);
  --primary-a7: var(--orange-a7);
  --primary-a8: var(--orange-a8);
  --primary-a9: var(--orange-a9);
  --primary-a10: var(--orange-a10);
  --primary-a11: var(--orange-a11);
  --primary-a12: var(--orange-a12);

  --primary-contrast: var(--orange-contrast);
  --primary-surface: var(--orange-surface);
  --primary-indicator: var(--orange-indicator);
  --primary-track: var(--orange-track);
}

[data-secondary="orange"] {
  --secondary-1: var(--orange-1);
  --secondary-2: var(--orange-2);
  --secondary-3: var(--orange-3);
  --secondary-4: var(--orange-4);
  --secondary-5: var(--orange-5);
  --secondary-6: var(--orange-6);
  --secondary-7: var(--orange-7);
  --secondary-8: var(--orange-8);
  --secondary-9: var(--orange-9);
  --secondary-10: var(--orange-10);
  --secondary-11: var(--orange-11);
  --secondary-12: var(--orange-12);

  --secondary-a1: var(--orange-a1);
  --secondary-a2: var(--orange-a2);
  --secondary-a3: var(--orange-a3);
  --secondary-a4: var(--orange-a4);
  --secondary-a5: var(--orange-a5);
  --secondary-a6: var(--orange-a6);
  --secondary-a7: var(--orange-a7);
  --secondary-a8: var(--orange-a8);
  --secondary-a9: var(--orange-a9);
  --secondary-a10: var(--orange-a10);
  --secondary-a11: var(--orange-a11);
  --secondary-a12: var(--orange-a12);

  --secondary-contrast: var(--orange-contrast);
  --secondary-surface: var(--orange-surface);
  --secondary-indicator: var(--orange-indicator);
  --secondary-track: var(--orange-track);
}
