@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/ruby-alpha.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/ruby-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/ruby.css */

:root {
  --ruby-contrast: white;
}

:root,
.light,
.light-theme {
  --ruby-surface: #fff5f6cc;
  --ruby-indicator: var(--ruby-9);
  --ruby-track: var(--ruby-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --ruby-surface: color(display-p3 0.9961 0.9647 0.9647 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --ruby-surface: #2b191d80;
  --ruby-indicator: var(--ruby-9);
  --ruby-track: var(--ruby-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --ruby-surface: color(display-p3 0.1569 0.0941 0.1098 / 0.5);
    }
  }
}

[data-primary="ruby"] {
  --primary-1: var(--ruby-1);
  --primary-2: var(--ruby-2);
  --primary-3: var(--ruby-3);
  --primary-4: var(--ruby-4);
  --primary-5: var(--ruby-5);
  --primary-6: var(--ruby-6);
  --primary-7: var(--ruby-7);
  --primary-8: var(--ruby-8);
  --primary-9: var(--ruby-9);
  --primary-10: var(--ruby-10);
  --primary-11: var(--ruby-11);
  --primary-12: var(--ruby-12);

  --primary-a1: var(--ruby-a1);
  --primary-a2: var(--ruby-a2);
  --primary-a3: var(--ruby-a3);
  --primary-a4: var(--ruby-a4);
  --primary-a5: var(--ruby-a5);
  --primary-a6: var(--ruby-a6);
  --primary-a7: var(--ruby-a7);
  --primary-a8: var(--ruby-a8);
  --primary-a9: var(--ruby-a9);
  --primary-a10: var(--ruby-a10);
  --primary-a11: var(--ruby-a11);
  --primary-a12: var(--ruby-a12);

  --primary-contrast: var(--ruby-contrast);
  --primary-surface: var(--ruby-surface);
  --primary-indicator: var(--ruby-indicator);
  --primary-track: var(--ruby-track);
}

[data-secondary="ruby"] {
  --secondary-1: var(--ruby-1);
  --secondary-2: var(--ruby-2);
  --secondary-3: var(--ruby-3);
  --secondary-4: var(--ruby-4);
  --secondary-5: var(--ruby-5);
  --secondary-6: var(--ruby-6);
  --secondary-7: var(--ruby-7);
  --secondary-8: var(--ruby-8);
  --secondary-9: var(--ruby-9);
  --secondary-10: var(--ruby-10);
  --secondary-11: var(--ruby-11);
  --secondary-12: var(--ruby-12);

  --secondary-a1: var(--ruby-a1);
  --secondary-a2: var(--ruby-a2);
  --secondary-a3: var(--ruby-a3);
  --secondary-a4: var(--ruby-a4);
  --secondary-a5: var(--ruby-a5);
  --secondary-a6: var(--ruby-a6);
  --secondary-a7: var(--ruby-a7);
  --secondary-a8: var(--ruby-a8);
  --secondary-a9: var(--ruby-a9);
  --secondary-a10: var(--ruby-a10);
  --secondary-a11: var(--ruby-a11);
  --secondary-a12: var(--ruby-a12);

  --secondary-contrast: var(--ruby-contrast);
  --secondary-surface: var(--ruby-surface);
  --secondary-indicator: var(--ruby-indicator);
  --secondary-track: var(--ruby-track);
}
