@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/bronze-alpha.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/bronze-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/bronze.css */

:root {
  --bronze-contrast: white;
}

:root,
.light,
.light-theme {
  --bronze-surface: #fdf5f3cc;
  --bronze-indicator: var(--bronze-9);
  --bronze-track: var(--bronze-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --bronze-surface: color(display-p3 0.9843 0.9608 0.9529 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --bronze-surface: #27211d80;
  --bronze-indicator: var(--bronze-9);
  --bronze-track: var(--bronze-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --bronze-surface: color(display-p3 0.1412 0.1255 0.1176 / 0.5);
    }
  }
}

[data-primary="bronze"] {
  --color-primary-1: var(--bronze-1);
  --color-primary-2: var(--bronze-2);
  --color-primary-3: var(--bronze-3);
  --color-primary-4: var(--bronze-4);
  --color-primary-5: var(--bronze-5);
  --color-primary-6: var(--bronze-6);
  --color-primary-7: var(--bronze-7);
  --color-primary-8: var(--bronze-8);
  --color-primary-9: var(--bronze-9);
  --color-primary-10: var(--bronze-10);
  --color-primary-11: var(--bronze-11);
  --color-primary-12: var(--bronze-12);

  --color-primary-a1: var(--bronze-a1);
  --color-primary-a2: var(--bronze-a2);
  --color-primary-a3: var(--bronze-a3);
  --color-primary-a4: var(--bronze-a4);
  --color-primary-a5: var(--bronze-a5);
  --color-primary-a6: var(--bronze-a6);
  --color-primary-a7: var(--bronze-a7);
  --color-primary-a8: var(--bronze-a8);
  --color-primary-a9: var(--bronze-a9);
  --color-primary-a10: var(--bronze-a10);
  --color-primary-a11: var(--bronze-a11);
  --color-primary-a12: var(--bronze-a12);

  --color-primary-contrast: var(--bronze-contrast);
  --color-primary-surface: var(--bronze-surface);
  --color-primary-indicator: var(--bronze-indicator);
  --color-primary-track: var(--bronze-track);
}

[data-secondary="bronze"] {
  --color-secondary-1: var(--bronze-1);
  --color-secondary-2: var(--bronze-2);
  --color-secondary-3: var(--bronze-3);
  --color-secondary-4: var(--bronze-4);
  --color-secondary-5: var(--bronze-5);
  --color-secondary-6: var(--bronze-6);
  --color-secondary-7: var(--bronze-7);
  --color-secondary-8: var(--bronze-8);
  --color-secondary-9: var(--bronze-9);
  --color-secondary-10: var(--bronze-10);
  --color-secondary-11: var(--bronze-11);
  --color-secondary-12: var(--bronze-12);

  --color-secondary-a1: var(--bronze-a1);
  --color-secondary-a2: var(--bronze-a2);
  --color-secondary-a3: var(--bronze-a3);
  --color-secondary-a4: var(--bronze-a4);
  --color-secondary-a5: var(--bronze-a5);
  --color-secondary-a6: var(--bronze-a6);
  --color-secondary-a7: var(--bronze-a7);
  --color-secondary-a8: var(--bronze-a8);
  --color-secondary-a9: var(--bronze-a9);
  --color-secondary-a10: var(--bronze-a10);
  --color-secondary-a11: var(--bronze-a11);
  --color-secondary-a12: var(--bronze-a12);

  --color-secondary-contrast: var(--bronze-contrast);
  --color-secondary-surface: var(--bronze-surface);
  --color-secondary-indicator: var(--bronze-indicator);
  --color-secondary-track: var(--bronze-track);
}
