@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/olive-alpha.css";
@import "@radix-ui/colors/olive-dark.css";
@import "@radix-ui/colors/olive-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/olive.css */

:root {
  --olive-contrast: white;
}

:root,
.light,
.light-theme {
  --olive-surface: #ffffffcc;
  --olive-indicator: var(--olive-9);
  --olive-track: var(--olive-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --olive-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --olive-surface: #1f201e80;
  --olive-indicator: var(--olive-9);
  --olive-track: var(--olive-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --olive-surface: color(display-p3 0.1176 0.1255 0.1176 / 0.5);
    }
  }
}

[data-surface="olive"] {
  --color-surface-1: var(--olive-1);
  --color-surface-2: var(--olive-2);
  --color-surface-3: var(--olive-3);
  --color-surface-4: var(--olive-4);
  --color-surface-5: var(--olive-5);
  --color-surface-6: var(--olive-6);
  --color-surface-7: var(--olive-7);
  --color-surface-8: var(--olive-8);
  --color-surface-9: var(--olive-9);
  --color-surface-10: var(--olive-10);
  --color-surface-11: var(--olive-11);
  --color-surface-12: var(--olive-12);

  --color-surface-a1: var(--olive-a1);
  --color-surface-a2: var(--olive-a2);
  --color-surface-a3: var(--olive-a3);
  --color-surface-a4: var(--olive-a4);
  --color-surface-a5: var(--olive-a5);
  --color-surface-a6: var(--olive-a6);
  --color-surface-a7: var(--olive-a7);
  --color-surface-a8: var(--olive-a8);
  --color-surface-a9: var(--olive-a9);
  --color-surface-a10: var(--olive-a10);
  --color-surface-a11: var(--olive-a11);
  --color-surface-a12: var(--olive-a12);

  --color-surface-contrast: var(--olive-contrast);
  --color-surface-surface: var(--olive-surface);
  --color-surface-indicator: var(--olive-indicator);
  --color-surface-track: var(--olive-track);

  /* TODO: replace this with hack from ui.pub */
  --border-color: var(--color-surface-a3);
  --shadow-color: var(--color-surface-a2);
}
