@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-alpha.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/pink-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/pink.css */

:root {
  --pink-contrast: white;
}

:root,
.light,
.light-theme {
  --pink-surface: #fef5facc;
  --pink-indicator: var(--pink-9);
  --pink-track: var(--pink-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --pink-surface: color(display-p3 0.9922 0.9608 0.9804 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --pink-surface: #31132980;
  --pink-indicator: var(--pink-9);
  --pink-track: var(--pink-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --pink-surface: color(display-p3 0.1725 0.0784 0.149 / 0.5);
    }
  }
}

[data-primary="pink"] {
  --color-primary-1: var(--pink-1);
  --color-primary-2: var(--pink-2);
  --color-primary-3: var(--pink-3);
  --color-primary-4: var(--pink-4);
  --color-primary-5: var(--pink-5);
  --color-primary-6: var(--pink-6);
  --color-primary-7: var(--pink-7);
  --color-primary-8: var(--pink-8);
  --color-primary-9: var(--pink-9);
  --color-primary-10: var(--pink-10);
  --color-primary-11: var(--pink-11);
  --color-primary-12: var(--pink-12);

  --color-primary-a1: var(--pink-a1);
  --color-primary-a2: var(--pink-a2);
  --color-primary-a3: var(--pink-a3);
  --color-primary-a4: var(--pink-a4);
  --color-primary-a5: var(--pink-a5);
  --color-primary-a6: var(--pink-a6);
  --color-primary-a7: var(--pink-a7);
  --color-primary-a8: var(--pink-a8);
  --color-primary-a9: var(--pink-a9);
  --color-primary-a10: var(--pink-a10);
  --color-primary-a11: var(--pink-a11);
  --color-primary-a12: var(--pink-a12);

  --color-primary-contrast: var(--pink-contrast);
  --color-primary-surface: var(--pink-surface);
  --color-primary-indicator: var(--pink-indicator);
  --color-primary-track: var(--pink-track);
}

[data-secondary="pink"] {
  --color-secondary-1: var(--pink-1);
  --color-secondary-2: var(--pink-2);
  --color-secondary-3: var(--pink-3);
  --color-secondary-4: var(--pink-4);
  --color-secondary-5: var(--pink-5);
  --color-secondary-6: var(--pink-6);
  --color-secondary-7: var(--pink-7);
  --color-secondary-8: var(--pink-8);
  --color-secondary-9: var(--pink-9);
  --color-secondary-10: var(--pink-10);
  --color-secondary-11: var(--pink-11);
  --color-secondary-12: var(--pink-12);

  --color-secondary-a1: var(--pink-a1);
  --color-secondary-a2: var(--pink-a2);
  --color-secondary-a3: var(--pink-a3);
  --color-secondary-a4: var(--pink-a4);
  --color-secondary-a5: var(--pink-a5);
  --color-secondary-a6: var(--pink-a6);
  --color-secondary-a7: var(--pink-a7);
  --color-secondary-a8: var(--pink-a8);
  --color-secondary-a9: var(--pink-a9);
  --color-secondary-a10: var(--pink-a10);
  --color-secondary-a11: var(--pink-a11);
  --color-secondary-a12: var(--pink-a12);

  --color-secondary-contrast: var(--pink-contrast);
  --color-secondary-surface: var(--pink-surface);
  --color-secondary-indicator: var(--pink-indicator);
  --color-secondary-track: var(--pink-track);
}
