@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-alpha.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/red-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/red.css */

:root {
  --red-contrast: white;
}

:root,
.light,
.light-theme {
  --red-surface: #fff5f5cc;
  --red-indicator: var(--red-9);
  --red-track: var(--red-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --red-surface: color(display-p3 0.9961 0.9647 0.9647 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --red-surface: #2f151780;
  --red-indicator: var(--red-9);
  --red-track: var(--red-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --red-surface: color(display-p3 0.1647 0.0863 0.0863 / 0.5);
    }
  }
}

[data-primary="red"] {
  --color-primary-1: var(--red-1);
  --color-primary-2: var(--red-2);
  --color-primary-3: var(--red-3);
  --color-primary-4: var(--red-4);
  --color-primary-5: var(--red-5);
  --color-primary-6: var(--red-6);
  --color-primary-7: var(--red-7);
  --color-primary-8: var(--red-8);
  --color-primary-9: var(--red-9);
  --color-primary-10: var(--red-10);
  --color-primary-11: var(--red-11);
  --color-primary-12: var(--red-12);

  --color-primary-a1: var(--red-a1);
  --color-primary-a2: var(--red-a2);
  --color-primary-a3: var(--red-a3);
  --color-primary-a4: var(--red-a4);
  --color-primary-a5: var(--red-a5);
  --color-primary-a6: var(--red-a6);
  --color-primary-a7: var(--red-a7);
  --color-primary-a8: var(--red-a8);
  --color-primary-a9: var(--red-a9);
  --color-primary-a10: var(--red-a10);
  --color-primary-a11: var(--red-a11);
  --color-primary-a12: var(--red-a12);

  --color-primary-contrast: var(--red-contrast);
  --color-primary-surface: var(--red-surface);
  --color-primary-indicator: var(--red-indicator);
  --color-primary-track: var(--red-track);
}

[data-secondary="red"] {
  --color-secondary-1: var(--red-1);
  --color-secondary-2: var(--red-2);
  --color-secondary-3: var(--red-3);
  --color-secondary-4: var(--red-4);
  --color-secondary-5: var(--red-5);
  --color-secondary-6: var(--red-6);
  --color-secondary-7: var(--red-7);
  --color-secondary-8: var(--red-8);
  --color-secondary-9: var(--red-9);
  --color-secondary-10: var(--red-10);
  --color-secondary-11: var(--red-11);
  --color-secondary-12: var(--red-12);

  --color-secondary-a1: var(--red-a1);
  --color-secondary-a2: var(--red-a2);
  --color-secondary-a3: var(--red-a3);
  --color-secondary-a4: var(--red-a4);
  --color-secondary-a5: var(--red-a5);
  --color-secondary-a6: var(--red-a6);
  --color-secondary-a7: var(--red-a7);
  --color-secondary-a8: var(--red-a8);
  --color-secondary-a9: var(--red-a9);
  --color-secondary-a10: var(--red-a10);
  --color-secondary-a11: var(--red-a11);
  --color-secondary-a12: var(--red-a12);

  --color-secondary-contrast: var(--red-contrast);
  --color-secondary-surface: var(--red-surface);
  --color-secondary-indicator: var(--red-indicator);
  --color-secondary-track: var(--red-track);
}
