@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/sage.css */

:root {
  --sage-contrast: white;
}

:root,
.light,
.light-theme {
  --sage-surface: #ffffffcc;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --sage-surface: #1e201f80;
  --sage-indicator: var(--sage-9);
  --sage-track: var(--sage-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --sage-surface: color(display-p3 0.1176 0.1255 0.1176 / 0.5);
    }
  }
}

[data-surface="sage"] {
  --color-surface-1: var(--sage-1);
  --color-surface-2: var(--sage-2);
  --color-surface-3: var(--sage-3);
  --color-surface-4: var(--sage-4);
  --color-surface-5: var(--sage-5);
  --color-surface-6: var(--sage-6);
  --color-surface-7: var(--sage-7);
  --color-surface-8: var(--sage-8);
  --color-surface-9: var(--sage-9);
  --color-surface-10: var(--sage-10);
  --color-surface-11: var(--sage-11);
  --color-surface-12: var(--sage-12);

  --color-surface-a1: var(--sage-a1);
  --color-surface-a2: var(--sage-a2);
  --color-surface-a3: var(--sage-a3);
  --color-surface-a4: var(--sage-a4);
  --color-surface-a5: var(--sage-a5);
  --color-surface-a6: var(--sage-a6);
  --color-surface-a7: var(--sage-a7);
  --color-surface-a8: var(--sage-a8);
  --color-surface-a9: var(--sage-a9);
  --color-surface-a10: var(--sage-a10);
  --color-surface-a11: var(--sage-a11);
  --color-surface-a12: var(--sage-a12);

  --color-surface-contrast: var(--sage-contrast);
  --color-surface-surface: var(--sage-surface);
  --color-surface-indicator: var(--sage-indicator);
  --color-surface-track: var(--sage-track);

  /* TODO: replace this with hack from ui.pub */
  --border-color: var(--color-surface-a3);
  --shadow-color: var(--color-surface-a2);
}
