@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-alpha.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/teal-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/teal.css */

:root {
  --teal-contrast: white;
}

:root,
.light,
.light-theme {
  --teal-surface: #f0faf8cc;
  --teal-indicator: var(--teal-9);
  --teal-track: var(--teal-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --teal-surface: color(display-p3 0.9451 0.9804 0.9725 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --teal-surface: #13272580;
  --teal-indicator: var(--teal-9);
  --teal-track: var(--teal-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --teal-surface: color(display-p3 0.0863 0.149 0.1412 / 0.5);
    }
  }
}

[data-primary="teal"] {
  --color-primary-1: var(--teal-1);
  --color-primary-2: var(--teal-2);
  --color-primary-3: var(--teal-3);
  --color-primary-4: var(--teal-4);
  --color-primary-5: var(--teal-5);
  --color-primary-6: var(--teal-6);
  --color-primary-7: var(--teal-7);
  --color-primary-8: var(--teal-8);
  --color-primary-9: var(--teal-9);
  --color-primary-10: var(--teal-10);
  --color-primary-11: var(--teal-11);
  --color-primary-12: var(--teal-12);

  --color-primary-a1: var(--teal-a1);
  --color-primary-a2: var(--teal-a2);
  --color-primary-a3: var(--teal-a3);
  --color-primary-a4: var(--teal-a4);
  --color-primary-a5: var(--teal-a5);
  --color-primary-a6: var(--teal-a6);
  --color-primary-a7: var(--teal-a7);
  --color-primary-a8: var(--teal-a8);
  --color-primary-a9: var(--teal-a9);
  --color-primary-a10: var(--teal-a10);
  --color-primary-a11: var(--teal-a11);
  --color-primary-a12: var(--teal-a12);

  --color-primary-contrast: var(--teal-contrast);
  --color-primary-surface: var(--teal-surface);
  --color-primary-indicator: var(--teal-indicator);
  --color-primary-track: var(--teal-track);
}

[data-secondary="teal"] {
  --color-secondary-1: var(--teal-1);
  --color-secondary-2: var(--teal-2);
  --color-secondary-3: var(--teal-3);
  --color-secondary-4: var(--teal-4);
  --color-secondary-5: var(--teal-5);
  --color-secondary-6: var(--teal-6);
  --color-secondary-7: var(--teal-7);
  --color-secondary-8: var(--teal-8);
  --color-secondary-9: var(--teal-9);
  --color-secondary-10: var(--teal-10);
  --color-secondary-11: var(--teal-11);
  --color-secondary-12: var(--teal-12);

  --color-secondary-a1: var(--teal-a1);
  --color-secondary-a2: var(--teal-a2);
  --color-secondary-a3: var(--teal-a3);
  --color-secondary-a4: var(--teal-a4);
  --color-secondary-a5: var(--teal-a5);
  --color-secondary-a6: var(--teal-a6);
  --color-secondary-a7: var(--teal-a7);
  --color-secondary-a8: var(--teal-a8);
  --color-secondary-a9: var(--teal-a9);
  --color-secondary-a10: var(--teal-a10);
  --color-secondary-a11: var(--teal-a11);
  --color-secondary-a12: var(--teal-a12);

  --color-secondary-contrast: var(--teal-contrast);
  --color-secondary-surface: var(--teal-surface);
  --color-secondary-indicator: var(--teal-indicator);
  --color-secondary-track: var(--teal-track);
}
