@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/violet-alpha.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/violet-dark-alpha.css";

/* https://github.com/radix-ui/themes/blob/main/packages/radix-ui-themes/src/styles/tokens/colors/violet.css */

:root {
  --violet-contrast: white;
}

:root,
.light,
.light-theme {
  --violet-surface: #f9f6ffcc;
  --violet-indicator: var(--violet-9);
  --violet-track: var(--violet-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --violet-surface: color(display-p3 0.9725 0.9647 0.9961 / 0.8);
    }
  }
}

.dark,
.dark-theme {
  --violet-surface: #25193980;
  --violet-indicator: var(--violet-9);
  --violet-track: var(--violet-9);
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      --violet-surface: color(display-p3 0.1333 0.102 0.2118 / 0.5);
    }
  }
}

/* [data-primary="violet"],
[data-primary="violet"].light,
[data-primary="violet"] .light,
[data-primary="violet"].dark,
[data-primary="violet"] .dark */

[data-primary="violet"] {
  --color-primary-1: var(--violet-1);
  --color-primary-2: var(--violet-2);
  --color-primary-3: var(--violet-3);
  --color-primary-4: var(--violet-4);
  --color-primary-5: var(--violet-5);
  --color-primary-6: var(--violet-6);
  --color-primary-7: var(--violet-7);
  --color-primary-8: var(--violet-8);
  --color-primary-9: var(--violet-9);
  --color-primary-10: var(--violet-10);
  --color-primary-11: var(--violet-11);
  --color-primary-12: var(--violet-12);

  --color-primary-a1: var(--violet-a1);
  --color-primary-a2: var(--violet-a2);
  --color-primary-a3: var(--violet-a3);
  --color-primary-a4: var(--violet-a4);
  --color-primary-a5: var(--violet-a5);
  --color-primary-a6: var(--violet-a6);
  --color-primary-a7: var(--violet-a7);
  --color-primary-a8: var(--violet-a8);
  --color-primary-a9: var(--violet-a9);
  --color-primary-a10: var(--violet-a10);
  --color-primary-a11: var(--violet-a11);
  --color-primary-a12: var(--violet-a12);

  --color-primary-contrast: var(--violet-contrast);
  --color-primary-surface: var(--violet-surface);
  --color-primary-indicator: var(--violet-indicator);
  --color-primary-track: var(--violet-track);
}

[data-secondary="violet"] {
  --color-secondary-1: var(--violet-1);
  --color-secondary-2: var(--violet-2);
  --color-secondary-3: var(--violet-3);
  --color-secondary-4: var(--violet-4);
  --color-secondary-5: var(--violet-5);
  --color-secondary-6: var(--violet-6);
  --color-secondary-7: var(--violet-7);
  --color-secondary-8: var(--violet-8);
  --color-secondary-9: var(--violet-9);
  --color-secondary-10: var(--violet-10);
  --color-secondary-11: var(--violet-11);
  --color-secondary-12: var(--violet-12);

  --color-secondary-a1: var(--violet-a1);
  --color-secondary-a2: var(--violet-a2);
  --color-secondary-a3: var(--violet-a3);
  --color-secondary-a4: var(--violet-a4);
  --color-secondary-a5: var(--violet-a5);
  --color-secondary-a6: var(--violet-a6);
  --color-secondary-a7: var(--violet-a7);
  --color-secondary-a8: var(--violet-a8);
  --color-secondary-a9: var(--violet-a9);
  --color-secondary-a10: var(--violet-a10);
  --color-secondary-a11: var(--violet-a11);
  --color-secondary-a12: var(--violet-a12);

  --color-secondary-contrast: var(--violet-contrast);
  --color-secondary-surface: var(--violet-surface);
  --color-secondary-indicator: var(--violet-indicator);
  --color-secondary-track: var(--violet-track);
}
