@import "tailwindcss";
@import "./theme/theme-variables.css";
@import "./theme/tokens.css";
@import "./theme/colors.css";
@import "./theme/base.css";
@import "./theme/utility.css";
/* ---break--- */
@custom-variant light (&:where(.light, .light *));
/* ---break--- */
@custom-variant dark (&:where(.dark, .dark *));
/* ---break--- */
:root {
  --test-uipub-cssvars: hsl(0 0% 98%);
}
/* ---break--- */
.dark {
  --test-uipub-cssvars: hsl(240 5.9% 10%);
}
/* ---break--- */
@theme inline {
  --color-test-uipub-cssvars: var(--test-uipub-cssvars);
}
