:root {
  --radius-none: 0;
  --radius-xs: 3px;
  --radius-sm: 5px;
  --radius-md: 7px;
  --radius-lg: 9px;
  --radius-xl: 11px;
  --radius-2xl: 13px;
  --radius-3xl: 15px;
  --radius-full: 9999px;
}
