:root {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 28px;
  --font-size-8: 35px;
  --font-size-9: 60px;
  --line-height-1: 16px;
  --line-height-2: 18px;
  --line-height-3: 24px;
  --line-height-4: 26px;
  --line-height-5: 28px;
  --line-height-6: 30px;
  --line-height-7: 36px;
  --line-height-8: 40px;
  --line-height-9: 60px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --letter-spacing-base: 0em;
  --letter-spacing-step: 0.00125em;

  --letter-spacing-1: calc(
    var(--letter-spacing-base) + 8 * var(--letter-spacing-step)
  );
  --letter-spacing-2: calc(
    var(--letter-spacing-base) + 4 * var(--letter-spacing-step)
  );
  --letter-spacing-3: calc(
    var(--letter-spacing-base) + 0 * var(--letter-spacing-step)
  );
  --letter-spacing-4: calc(
    var(--letter-spacing-base) - 2 * var(--letter-spacing-step)
  );
  --letter-spacing-5: calc(
    var(--letter-spacing-base) - 6 * var(--letter-spacing-step)
  );
  --letter-spacing-6: calc(
    var(--letter-spacing-base) - 10 * var(--letter-spacing-step)
  );
  --letter-spacing-7: calc(
    var(--letter-spacing-base) - 12 * var(--letter-spacing-step)
  );
  --letter-spacing-8: calc(
    var(--letter-spacing-base) - 16 * var(--letter-spacing-step)
  );
  --letter-spacing-9: calc(
    var(--letter-spacing-base) - 24 * var(--letter-spacing-step)
  );
}
