:root {
  --base-input-size-1-height: 1.5rem; /* 24px */
  --base-input-size-2-height: 2rem; /* 32px */
  --base-input-size-3-height: 2.5rem; /* 40px */
  --base-input-size-4-height: 3rem; /* 48px */
}
